@page "/EditEmployee/{employeeId}"

@using BlazorAuthYt.Data
@inject DataContext DataContext
@inject NavigationManager NavigationManager

<h3>Edit Employee</h3>

<EditForm Model="employee" OnValidSubmit="UpdateEmployee">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="Name">Employee Name:</label>
        <InputText id="Name" @bind-Value="employee.Name" class="form-control" />
        <ValidationMessage For="@(() => employee.Name)" />
    </div>
    <div class="form-group">
        <label for="Email">Employee Email:</label>
        <InputText id="Email" @bind-Value="employee.Email" class="form-control" />
        <ValidationMessage For="@(() => employee.Email)" />
    </div>
    <div class="form-group">
        <label for="DesignationID">Designation ID:</label>
        <InputNumber id="DesignationID" @bind-Value="employee.DesignationID" class="form-control" />
        <ValidationMessage For="@(() => employee.DesignationID)" />
    </div>
    <div class="form-group">
        <label for="BasicSalary">Basic Salary:</label>
        <InputNumber id="BasicSalary" @bind-Value="employee.BasicSalary" class="form-control" />
        <ValidationMessage For="@(() => employee.BasicSalary)" />
    </div>
    <div class="form-group">
        <label for="PresentAddress">Present Address:</label>
        <InputText id="PresentAddress" @bind-Value="employee.PresentAddress" class="form-control" />
        <ValidationMessage For="@(() => employee.PresentAddress)" />
    </div>
    <div class="form-group">
        <label for="PermanentAddress">Permanent Address:</label>
        <InputText id="PermanentAddress" @bind-Value="employee.PermanentAddress" class="form-control" />
        <ValidationMessage For="@(() => employee.PermanentAddress)" />
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Update Employee</button>
</EditForm>

@code {
    private Employee employee;
    [Parameter]
    public string employeeId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        employee = await DataContext.Employees.FindAsync(int.Parse(employeeId));
    }

    private async Task UpdateEmployee()
    {
        DataContext.Employees.Update(employee);
        await DataContext.SaveChangesAsync();

        NavigationManager.NavigateTo("/EmployeeList");
    }
}
