@using BlazorAuthYt.Data
@inject DataContext DataContext

@if (Employee != null)
{
    <div>
        <h4>Your Information</h4>
        <p>ID: @Employee.UserID</p>
        <p>Name: @Employee.Name</p>
        <p>Email: @Employee.Email</p>
        <p>Designation ID: @Employee.DesignationID</p>
        <p>Basic Salary: @Employee.BasicSalary</p>
        <p>Present Address: @Employee.PresentAddress</p>
        <p>Permanent Address: @Employee.PermanentAddress</p>
    </div>
}

@code {
    [Parameter]
    public Employee Employee { get; set; }
}
