@page "/ValveList"

@using MaintenanceWebApp.Data
@using MaintenanceWebApp.Services
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavigationManager
@implements IDisposable

@* Services *@
@inject CRUDService CRUDService
@inject UrlStatusService UrlStatusService
@inject TableService TableService

@* Roles Authorize *@
@attribute [Authorize(Roles = "Admin, Terminal Manager, Maintenance Supervisor, Maintenance")]

@* Status Notification *@
@if (!string.IsNullOrEmpty(statusMessage))
{
    <div class="container px-0">
        <div style="padding: 10px;" class="alert alert-success alert-dismissible fade show" role="alert">
            @statusMessage
            <button style="background-color: transparent; border: transparent; float: right;" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
}

<div class="card">

    <div class="row px-3">
        <div class="col-sm-5 form-group">
            <h5 class="display-6">Valve</h5>
            @if (HasValves)
            {
                @if (ValveCount > 5)
                {
                    <div class="page-size-chooser my-2">
                        Items per page:
                        <select @bind="@Pagination.ItemsPerPage">
                            <option>5</option>
                            @if (ValveCount > 10)
                            {
                                <option>10</option>
                            }
                            @if (ValveCount > 20)
                            {
                                <option>20</option>
                            }
                        </select>
                    </div>
                }
            }
        </div>

        @if (dataPermission)
        {
            <div class="col-sm-4"></div>

            <div class="col-sm-3 d-flex align-items-center justify-content-end">
                <button class="btn btn-primary" @onclick="NavigateToAddValve">
                    Tambah
                </button>
            </div>
        }

    </div>

    <div class="px-3">
        @* Loading Data *@
        @if (_isLoading)
        {
            <div class="text-center py-3">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p>Memuat Data Valve...</p>
            </div>
        }

        else if (!HasValves)
        {
            @* No Valve Data *@
            <hr />
            <div class="text-center py-3">
                <p>Tidak ada Valve.</p>
                @if (!string.IsNullOrEmpty(NoFilter))
                {
                    <button class="btn btn-link" @onclick="ClearFilter">Clear filter</button>
                }
            </div>
        }
        else
        {
            @* Search Box *@
            <div class="search-box mb-3">
                <input class="form-control" type="search" autofocus @bind="NoFilter" @bind:event="oninput" placeholder="Search..." />
            </div>

            @* Valve Data Table *@
            <QuickGrid Items="FilteredValves" Virtualize="false" Pagination="@Pagination" Class="table table-striped table-hover table-bordered">

                <TemplateColumn Title="Jalur" Sortable="true">
                    @if (string.IsNullOrWhiteSpace(context.ValveTrack))
                    {
                        <a style="cursor:pointer; color: royalblue;" @onclick="@(() => NavigateToValveInfo(context))">
                            <span>@context.ValveEntry</span> Ke <span>@context.ValveExit</span>
                        </a>
                    }
                    else
                    {
                        <a style="cursor:pointer; color: royalblue;" @onclick="@(() => NavigateToValveInfo(context))">
                            <span>@context.ValveTrack</span>
                        </a>
                    }
                </TemplateColumn>

                <PropertyColumn Property="@(valve => valve.Location)" Title="Lokasi" Sortable="true" />

                <PropertyColumn Property="@(valve => valve.Type)" Title="Tipe" Sortable="true" />

                @if (dataPermission)
                {
                    <TemplateColumn Title="Actions" Class="td-action">
                        <button @onclick="@(() => NavigateToEditValve(@context))" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </button>
                        <button @onclick="@(() => NavigateToDeleteValve(context))" class="btn btn-danger">
                            <span class="oi oi-trash"></span>
                        </button>
                    </TemplateColumn>
                }

            </QuickGrid>

            <Paginator State="@Pagination" />
        }
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }
    private bool dataPermission;

    private IQueryable<Valve>? _allValves;
    private bool _isLoading = true;

    private readonly int[] PageSizeOptions = new[] { 1, 5, 10, 20 };
    public PaginationState Pagination { get; } = new() { ItemsPerPage = 5 };

    public bool HasValves => !_isLoading && (_allValves?.Any() ?? false);
    public int ValveCount => _allValves?.Count() ?? 0;

    private string statusMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;

        //Authorization Admin & Maintenance Supervisor
        await Authorization();

        //Filter Applied using Table Service
        TableService.OnFilterApplied += TableService_OnFilterApplied;
        NoFilter = string.Empty;

        //Load Valve
        await LoadValves();
        _isLoading = false;

        //Get Url Status
        LoadUrlStatus();
    }

    private async Task Authorization()
    {
        if (authenticationStateTask != null)
        {
            var authenticationState = await authenticationStateTask;
            var user = authenticationState.User;
            if (user.IsInRole("Admin") || user.IsInRole("Maintenance Supervisor"))
            {
                dataPermission = true;
            }
            else
            {
                dataPermission = false;
            }
        }
    }

    private async Task LoadValves()
    {
        try
        {
            // Get All Data using CRUD Service
            var valvesList = await CRUDService.ReadAllAsync<Valve>(orderBy: q => q.OrderBy(p => p.ValveID));
            _allValves = valvesList.AsQueryable();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading valves: {ex.Message}");
        }
        finally
        {
            StateHasChanged();
        }
    }

    private async Task LoadUrlStatus()
    {
        statusMessage = UrlStatusService.GetAndClearUrlStatusMessage();

        var uri = new Uri(NavigationManager.Uri);
        var currentPath = uri.AbsolutePath;
        NavigationManager.NavigateTo(currentPath, replace: true);
    }

    //No Filter
    public string NoFilter
    {
        get => TableService.NoFilter ?? string.Empty; // Read from Table Service
        set
        {
            if (TableService.NoFilter != value)
            {
                TableService.NoFilter = value;
            }
        }
    }

    //Items per Page
    public int ItemsPerPage
    {
        get => Pagination.ItemsPerPage;
        set
        {
            if (Pagination.ItemsPerPage != value)
            {
                Pagination.ItemsPerPage = value;
            }
        }
    }

    //Filtered
    public IQueryable<Valve> FilteredValves =>
        string.IsNullOrWhiteSpace(TableService.NoFilter) // Using Table Service
            ? _allValves ?? Enumerable.Empty<Valve>().AsQueryable()
            : (_allValves?.Where(p =>
                p.Location.Contains(TableService.NoFilter!, StringComparison.OrdinalIgnoreCase) ||
                p.ValveTrack != null && p.ValveTrack.Contains(TableService.NoFilter!, StringComparison.OrdinalIgnoreCase) ||
                p.ValveEntry != null && p.ValveEntry.Contains(TableService.NoFilter!, StringComparison.OrdinalIgnoreCase) ||
                p.ValveExit != null && p.ValveExit.Contains(TableService.NoFilter!, StringComparison.OrdinalIgnoreCase) ||
                p.Type.Contains(TableService.NoFilter!, StringComparison.OrdinalIgnoreCase))
             ?? Enumerable.Empty<Valve>().AsQueryable());

    private async void TableService_OnFilterApplied(object? sender, EventArgs e)
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        TableService.OnFilterApplied -= TableService_OnFilterApplied;
        GC.SuppressFinalize(this);
    }

    private void ClearFilter()
    {
        NoFilter = string.Empty;
    }

    private void NavigateToAddValve()
    {
        NavigationManager.NavigateTo("/ValveAdd");
    }

    private void NavigateToValveInfo(Valve valve)
    {
        NavigationManager.NavigateTo($"/ValveInfo/{valve.ValveID}");
    }

    private void NavigateToEditValve(Valve valve)
    {
        NavigationManager.NavigateTo($"/ValveEdit/{valve.ValveID}");
    }

    private void NavigateToDeleteValve(Valve valve)
    {
        NavigationManager.NavigateTo($"/ValveDelete/{valve.ValveID}");
    }
}