@page "/PumpInfo/{PumpId:int}"

@using MaintenanceWebApp.Data
@using MaintenanceWebApp.Services
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<DataContext> DbFactory
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager

@* Services *@
@inject CRUDService CRUDService
@inject NotificationService NotificationService

@* Roles Authorize *@
@attribute [Authorize(Roles = "Admin, Terminal Manager, Maintenance Supervisor, Maintenance")]

<div class="card">

	@if (pump != null){
		<div class="card-header bg-light border-primary">
			@* Tab Header *@
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item">
					<a href="PumpList" class="nav-link" aria-label="Kembali ke Daftar Pompa">
						<span class="oi oi-chevron-left"></span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-label="Informasi Pompa">Informasi Pompa</a>
				</li>
			</ul>
		</div>
		<div class="card-body">
			@* Informasi Pompa *@
			<div class="form-group row">
				<div class="col-sm-5">

					@if (string.IsNullOrWhiteSpace(pump.Image) == false)
					{
						<img style="align-content:center;" width="100%" src="@CreateFilePath(pump.Image)" alt="Pump Image" class="pt-5">
					}
					else{
						<img style="align-content:center;" width="100%" src="../noimg.png" alt="No Image Available" class="pt-5">
					}
				</div>

				<div class="col-sm-7">
					<h5 class="display-6">@pump.Tag</h5><hr />
					<table width="100%">
						<tr>
							<td class="td-first">Kategori</td>
							<td> : </td>
							<td class="td-last">@pump.Name</td>
						</tr>
						<tr>
							<td class="td-first">Merk</td>
							<td> : </td>
							<td class="td-last">@pump.Brand</td>
						</tr>
						<tr>
							<td class="td-first">Tahun</td>
							<td> : </td>
							<td class="td-last">@pump.Year</td>
						</tr>
						<tr>
							<td class="td-first">Tipe</td>
							<td> : </td>
							<td class="td-last">@pump.Type</td>
						</tr>
						<tr>
							<td class="td-first">Material</td>
							<td> : </td>
							<td class="td-last">@pump.Material</td>
						</tr>
						<tr>
							<td class="td-first">Jenis</td>
							<td> : </td>
							<td class="td-last">@pump.Category</td>
						</tr>
						<tr>
							<td class="td-first">Kapasitas</td>
							<td> : </td>
							<td class="td-last">@pump.CapacityValue @pump.CapacityUnit</td>
						</tr>
						<tr>
							<td class="td-first">Lokasi</td>
							<td> : </td>
							<td class="td-last">@pump.Location</td>
						</tr>
						<tr>
							<td class="td-first">Daya</td>
							<td> : </td>
							<td class="td-last">@pump.PowerValue @pump.PowerUnit</td>
						</tr>
						<tr>
							<td class="td-first">Kode Explotion Proof</td>
							<td> : </td>
							<td class="td-last">@pump.ExplotionProofCode</td>
						</tr>
					</table>
				</div>

			</div>

		</div>
	}
	else
	{
		<p>Memuat Data Pompa...</p>
	}
</div>

@code {
	//Page
	[Parameter]
	public int PumpId { get; set; }
	private Pump pump;
	private string _webStorageRoot = string.Empty;

	//Notification
	private string? alertMessage;
	private string? logMessage;

	protected override async Task OnInitializedAsync()
	{
		await LoadPump();

		try
		{
			// Get Path Root
			_webStorageRoot = Configuration.GetValue<string>("WebStorageRoot") ?? "/"; // Default root
		}
		catch (Exception ex)
		{
			alertMessage = "Gagal memuat konfigurasi '_webStorageRoot'. Hubungi administrator.";
			logMessage = $"Gagal memuat konfigurasi '_webStorageRoot'\nDetail :\n{ex}";

			ShowNotification(alertMessage, logMessage);
		}
	}

	//Read Data Pump
	private async Task LoadPump()
	{
		try
		{
			//Read Pump using Service
			pump = await CRUDService.ReadSingleAsync<Pump, int>(PumpId);
		}
		catch (Exception ex)
		{
			alertMessage = "Gagal memuat data pompa. Hubungi administrator.";
			logMessage = $"Gagal memuat data pompa\nDetail :\n{ex}";

			ShowNotification(alertMessage, logMessage);
		}
	}

	private string CreateFilePath(string relativePath)
	{
		return Path.Combine(_webStorageRoot, relativePath).Replace("\\", "/");
	}

	//Notification
	private async Task ShowNotification(string alertMessage, string logMessage)
	{
		await NotificationService.AlertMessage(alertMessage);
		NotificationService.LogMessage(logMessage);
	}
}
