@page "/PumpEdit/{PumpId:int}"

@using MaintenanceWebApp.Data
@using MaintenanceWebApp.Services
@using Microsoft.EntityFrameworkCore
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager

@* Services *@
@inject UploadFilesService UploadService
@inject CRUDService CRUDService
@inject NotificationService NotificationService

@* Roles Authorize *@
@attribute [Authorize(Roles = "Admin, Maintenance Supervisor")]

<div class="card">
    <div class="card-header bg-light border-primary">
            @* Tab Header *@
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a @onclick="Cancel" class="nav-link" aria-label="Kembali ke Daftar Pompa">
                    <span class="oi oi-chevron-left"></span>
                </a>
            </li>
            <li class="nav-item">
                <span class="nav-link active" aria-current="page">Informasi Pompa</span>
            </li>
        </ul>
    </div>
    <div class="card-body">
        @if (pump != null)
        {
            @* Form Edit *@
            <EditForm Model="pump" OnValidSubmit="HandleUpdatePump" OnInvalidSubmit="HandleInvalidSubmit">
                <DataAnnotationsValidator />
                <div class="form-group row">
                    <div class="col-sm-12 mb-3">
                        <label for="NamaPompa" class="col-form-label">Nama Pompa <span class="required">*</span></label>
                        <InputSelect id="NamaPompa" @bind-Value="pump.Name" class="form-control">
                            <option value="">...</option>
                            @foreach (var name in pumpName)
                            {
                                <option value="@name">@name</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => pump.Name)" />
                    </div>

                    <div class="col-sm-12 mb-3">
                        <label for="TagPompa" class="col-form-label">Tag No Pompa <span class="required">*</span></label>
                        <InputText id="TagPompa" @bind-Value="pump.Tag" class="form-control" />
                        <ValidationMessage For="@(() => pump.Tag)" />
                    </div>

                    <div class="col-sm-6 mb-3">
                        <label for="Merk" class="col-form-label">Merk</label>
                        <InputText id="Merk" @bind-Value="pump.Brand" class="form-control" />
                        <ValidationMessage For="@(() => pump.Brand)" />
                    </div>

                    <div class="col-sm-6 mb-3">
                        <label for="Material" class="col-form-label">Material</label>
                        <InputText id="Material" @bind-Value="pump.Material" class="form-control" />
                        <ValidationMessage For="@(() => pump.Material)" />
                    </div>

                    <div class="col-sm-6 mb-3">
                        <label for="Jenis" class="col-form-label">Jenis</label>
                        <InputText id="Jenis" @bind-Value="pump.Category" class="form-control" />
                        <ValidationMessage For="@(() => pump.Category)" />
                    </div>

                    <div class="col-sm-6 mb-3">
                        <label for="Lokasi" class="col-form-label">Lokasi <span class="required">*</span></label>
                        <InputText id="Lokasi" @bind-Value="pump.Location" class="form-control" />
                        <ValidationMessage For="@(() => pump.Location)" />
                    </div>

                    <div class="col-sm-12 mb-3">
                        <label for="Tipe" class="col-form-label">Tipe</label>
                        <InputText id="Tipe" @bind-Value="pump.Type" class="form-control" />
                        <ValidationMessage For="@(() => pump.Type)" />
                    </div>

                    <div class="col-sm-6 mb-3">
                        <label for="Tahun" class="col-form-label">Tahun</label>
                        <InputNumber id="Tahun" @bind-Value="pump.Year" class="form-control" />
                        <ValidationMessage For="@(() => pump.Year)" />
                    </div>

                    <div class="col-sm-6 mb-3">
                        <div class="row">
                            <div class="col-sm-8">
                                <label for="Kapasitas" class="col-form-label">Kapasitas</label>
                                <InputNumber class="form-control" id="Kapasitas" @bind-Value="pump.CapacityValue" @oninput="OnCapacityInputChanged" />
                                <ValidationMessage For="@(() => pump.CapacityValue)" />
                            </div>
                            <div class="col-sm-4">
                                <label for="SatuanKapasitas" class="col-form-label">Unit</label>
                                <InputSelect id="SatuanKapasitas" @bind-Value="pump.CapacityUnit" class="form-control" disabled="@IsCapacityUnitDisabled">
                                    <option value="">...</option>
                                    @foreach (var unit in capacityUnits)
                                    {
                                        <option value="@unit">@unit</option>
                                    }
                                </InputSelect>
                                @* Custom validation message for CapacityUnit *@
                                @if (pump.CapacityValue.HasValue && pump.CapacityValue.Value > 0 && string.IsNullOrWhiteSpace(pump.CapacityUnit))
                                {
                                    <div class="text-danger">Satuan Kapasitas harus dipilih.</div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 mb-3">
                        <div class="row">
                            <div class="col-sm-8">
                                <label for="Daya" class="col-form-label">Daya</label>
                                <InputNumber class="form-control" id="Daya" @bind-Value="pump.PowerValue" @oninput="OnPowerInputChanged" />
                                <ValidationMessage For="@(() => pump.PowerValue)" />
                            </div>
                            <div class="col-sm-4">
                                <label for="SatuanDaya" class="col-form-label">Unit</label>
                                <InputSelect id="SatuanDaya" @bind-Value="pump.PowerUnit" class="form-control" disabled="@IsPowerUnitDisabled">
                                    <option value="">...</option>
                                    @foreach (var unit in powerUnits)
                                    {
                                        <option value="@unit">@unit</option>
                                    }
                                </InputSelect>
                                @* Custom validation message for PowerUnit *@
                                @if (pump.PowerValue.HasValue && pump.PowerValue.Value > 0 && string.IsNullOrWhiteSpace(pump.PowerUnit))
                                {
                                    <div class="text-danger">Satuan Daya harus dipilih.</div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 mb-3">
                        <label for="KodeExplotionProof" class="col-form-label">Kode Explotion Proof</label>
                        <InputText id="KodeExplotionProof" @bind-Value="pump.ExplotionProofCode" class="form-control" />
                        <ValidationMessage For="@(() => pump.ExplotionProofCode)" />
                    </div>

                    <div class="col-sm-12 mb-3">
                        <label for="Foto" class="col-form-label">Foto</label>
                        @if (!fileStatus)
                        {
                            <InputFile id="Foto" class="form-control"
                            accept=".jpg,.jpeg,.png"
                            OnChange="HandleFileUpload"/>
                            <ValidationMessage For="@(() => filePath)" />
                        }
                        else
                        {
                            <div class="d-flex align-items-center">
                                <img style="border: #e9ecef solid; padding: 10px; border-radius: 5px; max-height: 150px;" src="@CreateFilePath(filePath)" alt="Pump Image">
                                <button @onclick="HandleFileChange" type="button" class="btn btn-danger btn-sm ms-3">Ubah Foto</button>
                            </div>

                            @if (!string.IsNullOrWhiteSpace(UploadService.UploadErrorMessage))
                            {
                                <div class="text-danger mt-2">@UploadService.UploadErrorMessage</div>
                            }
                        }
                    </div>
                </div>

                @* Submit Button *@
                <div class="float-end mt-3">
                    <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </div>
            </EditForm>
        }
        else
        {
            <p>Memuat Data Pompa...</p>
        }
    </div>
</div>

@code {
    //Page
    private Pump pump;
    [Parameter]
    public int PumpId { get; set; }
    private EditContext? editContext;
    private string _webStorageRoot = string.Empty;
    private bool uploadErrorStatus;

    //Form
    private bool IsPowerUnitDisabled;
    private bool IsCapacityUnitDisabled;
    private List<string> pumpName = new() { "Pompa Delivery", "Pompa Pendukung Operasional", "Pompa Air Bersih", "Pompa Kondisi Darurat Kebakaran" };
    private List<string> powerUnits = new() { "HP", "KW" };
    private List<string> capacityUnits = new() { "M3/h", "M3/min", "LPM", "GPM" };

    //File
    private string? originalFilePath;
    private string? filePath;
    private bool fileStatus;
    private string subFolderName = "Inventories";
    private string fileCategory = "img";
    private string folderName = "Pump";

    //Notification
    private string? alertMessage;
    private string? logMessage;

    protected override async Task OnInitializedAsync()
    {
        //Read Pump using Service
        pump = await CRUDService.ReadSingleAsync<Pump, int>(PumpId);

        if (pump == null)
        {
            NavigationManager.NavigateTo("./PumpList", forceLoad: true);
        }

        editContext = new EditContext(pump);
        editContext.OnValidationStateChanged += (sender, e) => StateHasChanged();
        editContext.OnFieldChanged += (sender, e) => StateHasChanged();

        uploadErrorStatus = false;

        if (!string.IsNullOrWhiteSpace(pump.Image))
        {
            fileStatus = true;
            originalFilePath = pump.Image;
            filePath = pump.Image;
        }
        else
        {
            fileStatus = false;
            originalFilePath = null;
            filePath = null;
        }

        if (string.IsNullOrWhiteSpace(pump.PowerUnit))
        {
            IsPowerUnitDisabled = true;
        }
        else
        {
            IsPowerUnitDisabled = false;
        }

        if (string.IsNullOrWhiteSpace(pump.CapacityUnit))
        {
            IsCapacityUnitDisabled = true;
        }
        else
        {
            IsCapacityUnitDisabled = false;
        }

        try
        {
            // Get Path Root
            _webStorageRoot = Configuration.GetValue<string>("WebStorageRoot") ?? "/"; // Default root
        }
        catch (Exception ex)
        {
            alertMessage = "Gagal memuat konfigurasi '_webStorageRoot'. Hubungi administrator.";
            logMessage = $"Gagal memuat konfigurasi '_webStorageRoot'\nDetail :\n{ex}";

            ShowNotification(alertMessage, logMessage);
        }
    }

    //File Upload
    private async Task HandleFileUpload(InputFileChangeEventArgs e)
    {
        //File Upload using Service
        await UploadService.FilesUpload(e.File, folderName, subFolderName, fileCategory);

        if (!string.IsNullOrWhiteSpace(UploadService.UploadErrorMessage))
        {
            alertMessage = $"Gagal upload gambar.\n{UploadService.UploadErrorMessage}";
            logMessage = $"Gagal upload gambar\nDetail :\n{UploadService.UploadErrorMessage}";

            uploadErrorStatus = true;

            ShowNotification(alertMessage, logMessage);

            filePath = null;

            return;
        }

        filePath = UploadService.FilePath;
        fileStatus = true;

        editContext?.NotifyFieldChanged(FieldIdentifier.Create(() => filePath));
    }

    //Handle File Change
    private async Task HandleFileChange()
    {
        if (fileStatus)
        {
            if (filePath != originalFilePath)
            {
                //Update Image File
                FileChange(filePath);
            }

            fileStatus = false;
        }
        else
        {
            fileStatus = true;
        }
    }

    // File Change
    private async Task FileChange(string ImagePath)
    {
        //File Change using Service
        await UploadService.FileChange(ImagePath, subFolderName);

        if (!string.IsNullOrWhiteSpace(UploadService.UploadErrorMessage))
        {
            alertMessage = "Gagal mengubah gambar. Hubungi Administrator.";
            logMessage = $"Gagal mengubah gambar '_webStorageRoot'\nDetail :\n{UploadService.UploadErrorMessage}";

            uploadErrorStatus = true;

            ShowNotification(alertMessage, logMessage);
            return;
        }

        editContext?.NotifyFieldChanged(FieldIdentifier.Create(() => pump.Image));
    }

    //Create File Path
    private string CreateFilePath(string relativePath)
    {
        if (!string.IsNullOrWhiteSpace(relativePath))
        {
            return Path.Combine(_webStorageRoot, relativePath).Replace("\\", "/");
        }
        return null;
    }

    //Update Data Pump
    private async Task HandleUpdatePump()
    {
        // Custom Capacity Value Validation
        if (pump.CapacityValue.HasValue && pump.CapacityValue.Value > 0 && string.IsNullOrWhiteSpace(pump.CapacityUnit))
        {
            alertMessage = "Jika Kapasitas diisi, Satuan Kapasitas harus dipilih.";
            logMessage = $"Validasi kustom gagal: Satuan Kapasitas tidak dipilih saat Kapasitas ada.";

            ShowNotification(alertMessage, logMessage);
            return;
        }

        // Custom Power Value Validation
        if (pump.PowerValue.HasValue && pump.PowerValue.Value > 0 && string.IsNullOrWhiteSpace(pump.PowerUnit))
        {
            alertMessage = "Jika Daya diisi, Satuan Daya harus dipilih.";
            logMessage = $"Validasi kustom gagal: Satuan Daya tidak dipilih saat Daya ada.";

            ShowNotification(alertMessage, logMessage);
            return;
        }

        //File Check
        if (fileStatus)
        {
            if (uploadErrorStatus)
            {
                alertMessage = $"Gagal upload gambar.\n{UploadService.UploadErrorMessage}";
                logMessage = $"Gagal upload gambar\nDetail :\n{UploadService.UploadErrorMessage}";

                uploadErrorStatus = false;

                ShowNotification(alertMessage, logMessage);
                return;
            }

            if(filePath != originalFilePath)
            {
                if (!string.IsNullOrWhiteSpace(originalFilePath))
                {
                    //Update Image File
                    FileChange(originalFilePath);
                }
                pump.Image = filePath;
            }
        }
        else
        {
            if (!string.IsNullOrWhiteSpace(originalFilePath))
            {
                FileChange(originalFilePath);
            }
            pump.Image = null;
        }

        //Update using Services
        await CRUDService.UpdateAsync<Pump>(pump);

        if (!string.IsNullOrWhiteSpace(CRUDService.CRUDErrorMessage))
        {
            alertMessage = "Gagal menyimpan data. Hubungi Administrator.";
            logMessage = $"Gagal menyimpan data\nDetail :\n{CRUDService.CRUDErrorMessage}";

            ShowNotification(alertMessage, logMessage);
            return;
        }

        NavigationManager.NavigateTo("./PumpList?status=EditSuccess");
    }

    //Invalid Submit
    private async Task HandleInvalidSubmit()
    {
        alertMessage = "Mohon periksa kembali input Anda. Ada beberapa kesalahan yang perlu diperbaiki.";
        logMessage = $"Formulir PumpEdit disubmit dengan input tidak valid.";

        ShowNotification(alertMessage, logMessage);
    }

    //Power Validation
    private void OnPowerInputChanged(ChangeEventArgs args)
    {
        if (double.TryParse(args.Value?.ToString(), out double currentPowerInputValue))
        {
            pump.PowerValue = currentPowerInputValue;
        }
        else
        {
            pump.PowerValue = null;
        }

        IsPowerUnitDisabled = !pump.PowerValue.HasValue || pump.PowerValue.Value <= 0;

        if (IsPowerUnitDisabled)
        {
            pump.PowerUnit = null;
        }

        editContext?.NotifyFieldChanged(FieldIdentifier.Create(() => pump.PowerValue));
        editContext?.NotifyFieldChanged(FieldIdentifier.Create(() => pump.PowerUnit));
    }

    //Capacity Validation
    private void OnCapacityInputChanged(ChangeEventArgs args)
    {
        if (double.TryParse(args.Value?.ToString(), out double currentCapacityInputValue))
        {
            pump.CapacityValue = currentCapacityInputValue;
        }
        else
        {
            pump.CapacityValue = null;
        }

        IsCapacityUnitDisabled = !pump.CapacityValue.HasValue || pump.CapacityValue.Value <= 0;

        if (IsCapacityUnitDisabled)
        {
            pump.CapacityUnit = null;
        }

        editContext?.NotifyFieldChanged(FieldIdentifier.Create(() => pump.CapacityValue));
        editContext?.NotifyFieldChanged(FieldIdentifier.Create(() => pump.CapacityUnit));
    }

    //Notification
    private async Task ShowNotification(string alertMessage, string logMessage)
    {
        await NotificationService.AlertMessage(alertMessage);
        NotificationService.LogMessage(logMessage);
    }

    //Cancel
    private void Cancel()
    {
        if(filePath != originalFilePath)
        {
            FileChange(filePath);
        }

        NavigationManager.NavigateTo("./PumpList");
    }
}