@page "/PumpInfo/{PumpId}"

@using MaintenanceWebApp.Data
@using Microsoft.EntityFrameworkCore
@inject DataContext DataContext
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<div class="card">
	<div class="card-header bg-light border-primary">
		General Information
	</div>
	<div class="card-body">
		<div class="form-group row">

			<div class="col-sm-6">

				<table width="100%">
					<tr>
						<td class="td-first">Name</td>
						<td> : </td>
						<td class="td-last">@pump.Name</td>
					</tr>
					<tr>
						<td class="td-first">Location</td>
						<td> : </td>
						<td class="td-last">pump.Location</td>
					</tr>
					<tr>
						<td class="td-first">Photo</td>
						<td> : </td>
						<td class="td-last">@pump.Photo</td>
					</tr>
					<tr>
						<td class="td-first">Description</td>
						<td> : </td>
						<td class="td-last">@pump.Description</td>
					</tr>
				</table>

			</div>

			<div class="col-sm-6">
				<table width="100%">
					<tr>
						<td class="td-first">Material</td>
						<td> : </td>
						<td class="td-last">@pump.Material</td>
					</tr>
					<tr>
						<td class="td-first">Brand</td>
						<td> : </td>
						<td class="td-last">@pump.Brand</td>
					</tr>
					<tr>
						<td class="td-first">Type</td
						<td> : </td>
						<td class="td-last">@pump.Type</td>
					</tr>
					<tr>
						<td class="td-first">Tank</td>
						<td> : </td>
						<td class="td-last">@pump.Tank</td>
					</tr>
				</table>
			</div>

		</div>
	</div>

	<div class="card-header bg-light border-primary">
		Pump Information
	</div>
	<div class="card-body">
		<div class="form-group row">

			<div class="col-sm-6">

				<table width="100%">
					<tr>
						<td class="td-first">Pump Tag</td>
						<td> : </td>
						<td class="td-last">@pump.PumpTag</td>
					</tr>
					<tr>
						<td class="td-first">Year</td>
						<td> : </td>
						<td class="td-last">@pump.Year</td>
					</tr>
					<tr>
						<td class="td-first">Explotion Proof Code</td>
						<td> : </td>
						<td class="td-last">@pump.ExplotionProofCode</td>
					</tr>
				</table>

			</div>

			<div class="col-sm-6">
				<table width="100%">
					<tr>
						<td class="td-first">Pump Capacity</td>
						<td> : </td>
						<td class="td-last">@pump.PumpCapacity</td>
					</tr>
					<tr>
						<td class="td-first">Power</td>
						<td> : </td>
						<td class="td-last">@pump.Power</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

@code {
    private Pump pump;
    [Parameter]
    public string PumpId { get; set; }

    private List<Tank> Tanks { get; set; } = new List<Tank>();

    private async Task LoadData()
    {
        Tanks = await DataContext.Tanks.ToListAsync();
    }

    protected override async Task OnInitializedAsync()
	{
    
        pump = await DataContext.Pumps.FindAsync(PumpId);
        await LoadData();
    }
}
