@page "/PumpInfo/{PumpId}"

@using MaintenanceWebApp.Data
@using Microsoft.EntityFrameworkCore
@inject DataContext DataContext
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager		
@inject IConfiguration Configuration

<div class="card">

	@if (pump != null){
		<div class="card-header bg-light border-primary">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item">
					@* Tombol kembali ke daftar pompa *@
					<a href="PumpList" class="nav-link" aria-label="Kembali ke Daftar Pompa">
						<span class="oi oi-chevron-left"></span>
					</a>
				</li>
				<li class="nav-item">
					@* Informasi Pompa *@
					<a class="nav-link active" aria-label="Informasi Pompa">Informasi Pompa</a>
				</li>
			</ul>
		</div>
		<div class="card-body">
			<div class="form-group row">

				<div class="col-sm-5">

					@if (string.IsNullOrWhiteSpace(pump.Photo) == false)
					{
						<img style="align-content:center;" width="100%" src="@CreateWebPath(pump.Photo)" alt="Pump Photo" class="pt-5">
					}
					else{
						<div class="icon">
							<span class="oi oi-image"></span><br>
							No Image Available
						</div>
					}
				</div>

				<div class="col-sm-7">
					<h5 class="display-6">@pump.PumpTag</h5><hr />
					<table width="100%">
						<tr>
							<td class="td-first">Kategori</td>
							<td> : </td>
							<td class="td-last">@pump.Name</td>
						</tr>
						<tr>
							<td class="td-first">Merk</td>
							<td> : </td>
							<td class="td-last">@pump.Brand</td>
						</tr>
						<tr>
							<td class="td-first">Tahun</td>
							<td> : </td>
							<td class="td-last">@pump.Year</td>
						</tr>
						<tr>
							<td class="td-first">Tipe</td>
							<td> : </td>
							<td class="td-last">@pump.Type</td>
						</tr>
						<tr>
							<td class="td-first">Material</td>
							<td> : </td>
							<td class="td-last">@pump.Material</td>
						</tr>
						<tr>
							<td class="td-first">Jenis</td>
							<td> : </td>
							<td class="td-last">@pump.CategoryType</td>
						</tr>
						<tr>
							<td class="td-first">Kapasitas</td>
							<td> : </td>
							<td class="td-last">@pump.CapacityValue @pump.CapacityUnit</td>
						</tr>
						<tr>
							<td class="td-first">Lokasi</td>
							<td> : </td>
							<td class="td-last">@pump.Location</td>
						</tr>
						<tr>
							<td class="td-first">Daya</td>
							<td> : </td>
							<td class="td-last">@pump.PowerValue @pump.PowerUnit</td>
						</tr>
						<tr>
							<td class="td-first">Kode Explotion Proof</td>
							<td> : </td>
							<td class="td-last">@pump.ExplotionProofCode</td>
						</tr>
					</table>
				</div>

			</div>

		</div>
	}
	else
	{
		<p>Loading pump information...</p>
	}
</div>

@code {
	private Pump pump;
	private Tank tank;
	private string rootStorage;
	[Parameter]
	public string PumpId { get; set; }

	private string CreateWebPath(string relativePath)
	{
		rootStorage = Configuration.GetValue<string>("WebStorageRoot")+"/"+relativePath;

		return rootStorage;
	}

    protected override async Task OnInitializedAsync()
	{
    
        pump = await DataContext.Pumps.FindAsync(PumpId);

		if (pump == null)
        {
            NavigationManager.NavigateTo("/PumpList", forceLoad: true);
        }
    }
}
