@page "/PumpList"

@using MaintenanceWebApp.Data
@using MaintenanceWebApp.Services
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.WebUtilities
@inject IDbContextFactory<DataContext> DbFactory
@inject NavigationManager NavigationManager
@implements IDisposable

@* Services *@
@inject CRUDService CRUDService
@inject UrlStatusService UrlStatusService
@inject TableService TableService

@* Roles Authorize *@
@attribute [Authorize(Roles = "Admin, Terminal Manager, Maintenance Supervisor, Maintenance")]

@* Status Notification *@
@if (!string.IsNullOrEmpty(statusMessage))
{
    <div class="container px-0">
        <div style="padding: 10px;" class="alert alert-success alert-dismissible fade show" role="alert">
            @statusMessage
            <button style="background-color: transparent; border: transparent; float: right;" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
}

<div class="card">

    <div class="row px-3">
        <div class="col-sm-5 form-group">
            <h5 class="display-6">Pompa</h5>
            @if (HasPumps)
            {
                @if (PumpCount > 5)
                {
                    <div class="page-size-chooser my-2">
                        Items per page:
                        <select @bind="@Pagination.ItemsPerPage">
                            <option>5</option>
                            @if (PumpCount > 10)
                            {
                                <option>10</option>
                            }
                            @if (PumpCount > 20)
                            {
                                <option>20</option>
                            }
                        </select>
                    </div>
                }
            }
        </div>

        @if (dataPermission)
        {
            <div class="col-sm-4"></div>

            <div class="col-sm-3 d-flex align-items-center justify-content-end">
                <button class="btn btn-primary" @onclick="NavigateToAddPump">
                    Tambah
                </button>
            </div>
        }

    </div>

    <div class="px-3">
        @* Loading Data *@
        @if (_isLoading)
        {
            <div class="text-center py-3">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p>Memuat Data Pompa...</p>
            </div>
        }

        else if (!HasPumps)
        {
            @* No Pump Data *@
            <hr />
            <div class="text-center py-3">
                <p>Tidak ada Pompa.</p>
                @if (!string.IsNullOrEmpty(NoFilter))
                {
                    <button class="btn btn-link" @onclick="ClearFilter">Clear filter</button>
                }
            </div>
        }
        else
        {
            @* Pump Data Table *@
            <QuickGrid Items="FilteredPumps" Virtualize="false" Pagination="@Pagination" Class="table table-striped table-hover table-bordered">

                <TemplateColumn Title="Tag" SortBy="@SortByTag">
                    <a style="cursor:pointer; color: royalblue;" @onclick="@(() => NavigateToPumpInfo(context))">
                        @context.Tag
                    </a>
                </TemplateColumn>

                <PropertyColumn Property="@(pump => pump.Name)" Title="Category" Sortable="true" />
                <PropertyColumn Property="@(pump => pump.Brand)" Title="Merk" Sortable="true" />
                <PropertyColumn Property="@(pump => pump.Year)" Title="Tahun" Sortable="true" />
                <PropertyColumn Property="@(pump => pump.Location)" Title="Lokasi" Sortable="true" />

                @if (dataPermission)
                {
                    <TemplateColumn Title="Actions" Class="td-action">
                        <button @onclick="@(() => NavigateToEditPump(@context))" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </button>
                        <button @onclick="@(() => NavigateToDeletePump(context))" class="btn btn-danger">
                            <span class="oi oi-trash"></span>
                        </button>
                    </TemplateColumn>
                }

            </QuickGrid>

            <Paginator State="@Pagination" />
        }
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }
    private bool dataPermission;

    private IQueryable<Pump>? _allPumps;
    private bool _isLoading = true;

    private GridSort<Pump> SortByTag = GridSort<Pump>.ByAscending(p => p.Tag);

    private readonly int[] PageSizeOptions = new[] { 1, 5, 10, 20 };
    public PaginationState Pagination { get; } = new() { ItemsPerPage = 5 };

    public bool HasPumps => !_isLoading && (_allPumps?.Any() ?? false);
    public int PumpCount => _allPumps?.Count() ?? 0;

    private string statusMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {

        //Authorization Admin & Maintenance Supervisor
        await Authorization();

        //Filter Applied using Table Service
        TableService.OnFilterApplied += TableService_OnFilterApplied;
        NoFilter = string.Empty;

        _isLoading = false;

        //Load Pump
        await LoadPumps();

        //Get Url Status
        LoadUrlStatus();
    }

    private async Task Authorization()
    {
        if (authenticationStateTask != null)
        {
            var authenticationState = await authenticationStateTask;
            var user = authenticationState.User;
            if (user.IsInRole("Admin") || user.IsInRole("Maintenance Supervisor"))
            {
                dataPermission = true;
            }
            else
            {
                dataPermission = false;
            }
        }
    }

    private async Task LoadPumps()
    {
        try
        {
            // Get All Data using CRUD Service
            var pumpsList = await CRUDService.ReadAllAsync<Pump>(orderBy: q => q.OrderBy(p => p.PumpID));
            _allPumps = pumpsList.AsQueryable();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading pumps: {ex.Message}");
        }
        finally
        {
            StateHasChanged();
        }
    }

    private async Task LoadUrlStatus()
    {
        statusMessage = UrlStatusService.GetAndClearUrlStatusMessage();

        var uri = new Uri(NavigationManager.Uri);
        var currentPath = uri.AbsolutePath;
        NavigationManager.NavigateTo(currentPath, replace: true);
    }

    //No Filter
    public string NoFilter
    {
        get => TableService.NoFilter ?? string.Empty; // Read from Table Service
        set
        {
            if (TableService.NoFilter != value)
            {
                TableService.NoFilter = value;
            }
        }
    }

    //Items per Page
    public int ItemsPerPage
    {
        get => Pagination.ItemsPerPage;
        set
        {
            if (Pagination.ItemsPerPage != value)
            {
                Pagination.ItemsPerPage = value;
            }
        }
    }

    //Filtered
    public IQueryable<Pump> FilteredPumps =>
        string.IsNullOrWhiteSpace(TableService.NoFilter) // Using Table Service
            ? _allPumps ?? Enumerable.Empty<Pump>().AsQueryable()
            : (_allPumps?.Where(p => p.Tag.Contains(TableService.NoFilter!, StringComparison.OrdinalIgnoreCase))
             ?? Enumerable.Empty<Pump>().AsQueryable());

    private async void TableService_OnFilterApplied(object? sender, EventArgs e)
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        TableService.OnFilterApplied -= TableService_OnFilterApplied;
        GC.SuppressFinalize(this);
    }

    private void ClearFilter()
    {
        NoFilter = string.Empty;
    }

    private void NavigateToAddPump()
    {
        NavigationManager.NavigateTo("/PumpAdd");
    }

    private void NavigateToPumpInfo(Pump pump)
    {
        NavigationManager.NavigateTo($"/PumpInfo/{pump.PumpID}");
    }

    private void NavigateToEditPump(Pump pump)
    {
        NavigationManager.NavigateTo($"/PumpEdit/{pump.PumpID}");
    }

    private void NavigateToDeletePump(Pump pump)
    {
        NavigationManager.NavigateTo($"/PumpDelete/{pump.PumpID}");
    }
}