@page "/PumpInfo/{PumpId}"

@using MaintenanceWebApp.Data
@using Microsoft.EntityFrameworkCore
@inject DataContext DataContext
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<h3>Pump Information</h3>
<hr>

<div class="card">
	<div class="card-header bg-light border-primary">
		General Information
	</div>
	<div class="card-body">
		<div class="form-group row">

			<div class="col-sm-6">

				<table>
					<tr>
						<td>Name</td>
						<td> : </td>
						<td>@pump.Name</td>
					</tr>
					<tr>
						<td>Location</td>
						<td> : </td>
						<td>@pump.Location</td>
					</tr>
					<tr>
						<td>Photo</td>
						<td> : </td>
						<td>@pump.Photo</td>
					</tr>
					<tr>
						<td>Description</td>
						<td> : </td>
						<td>@pump.Description</td>
					</tr>
				</table>

			</div>

			<div class="col-sm-6">
				<table>
					<tr>
						<td>Material</td>
						<td> : </td>
						<td>@pump.Material</td>
					</tr>
					<tr>
						<td>Brand</td>
						<td> : </td>
						<td>@pump.Brand</td>
					</tr>
					<tr>
						<td>Type</td
						<td> : </td>
						<td>@pump.Type</td>
					</tr>
					<tr>
						<td>Tank</td>
						<td> : </td>
						<td>@pump.Tank</td>
					</tr>
				</table>
			</div>

		</div>
	</div>

	<div class="card-header bg-light border-primary">
		Pump Information
	</div>
	<div class="card-body">
		<div class="form-group row">

			<div class="col-sm-6">

				<table>
					<tr>
						<td>Pump Tag</td>
						<td> : </td>
						<td>@pump.PumpTag</td>
					</tr>
					<tr>
						<td>Year</td>
						<td> : </td>
						<td>@pump.Year</td>
					</tr>
				</table>

			</div>

			<div class="col-sm-6">
				<table>
					<tr>
						<td>Pump Capacity</td>
						<td> : </td>
						<td>@pump.PumpCapacity</td>
					</tr>
					<tr>
						<td>Power</td>
						<td> : </td>
						<td>@pump.Power</td>
					</tr>
				</table>
			</div>
			<div class="col-sm-12 my-3">
				<label>ExplotionProofCode : @pump.ExplotionProofCode</label>
			</div>
		</div>
	</div>
</div>

@code {
    private Pump pump;
    [Parameter]
    public string PumpId { get; set; }

    private List<Tank> Tanks { get; set; } = new List<Tank>();

    private async Task LoadData()
    {
        Tanks = await DataContext.Tanks.ToListAsync();
    }

    protected override async Task OnInitializedAsync()
	{
    
        pump = await DataContext.Pumps.FindAsync(PumpId);
        await LoadData();
    }
}
