@page "/EmployeeList"

@using MaintenanceWebApp.Data
@using Microsoft.EntityFrameworkCore
@inject DataContext DataContext
@inject NavigationManager NavigationManager

<div class="row">
    <div class="col-6">
        <h3>Employee List</h3>
    </div>
    <div class="col-6">
        <button class="btn btn-outline-primary btn-xs float-end" @onclick="() => AddEmployee()">New Employee</button>
    </div>
</div><br>

@if (Employees.Count != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Employees)
            {
                <tr>
                    <td><a href="" @onclick="() =>EmployeeInfo(employee)">@employee.UserID</a></td>
                    <td>@employee.Name</td>
                    <td>@employee.JobTitle</td>
                    <td>
                        <button class="btn btn-warning" @onclick="() => EditEmployee(employee)">Edit</button>
                        <button class="btn btn-danger" @onclick="() => SoftDeleteEmployee(employee)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<<<<<<< HEAD
    <div class="px-3">
        @if (_isLoading)
        {
            <div class="text-center py-3">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p>Loading Pump Data...</p>
            </div>
        }
        else if (!HasEmployees)
        {
            <hr />
            <div class="text-center py-3">
                <p>No Employee Found.</p>
                @if (!string.IsNullOrEmpty(employeeFilter))
                {
                    <button class="btn btn-link" @onclick="ClearFilter">Clear Filter</button>
                }
            </div>
        }
        else
        {
            <QuickGrid Items="FilteredEmployees" Virtualize="false" Pagination="@Pagination"
                       Class="table table-striped table-hover table-bordered">
                <TemplateColumn Title="User Name" SortBy="@sortByName">
                    <a style="text-decoration: none;" href="" @onclick="@(() => NavigateToEmployeeInfo(context))">
                        @context.UserName
                    </a>
                </TemplateColumn>

                <PropertyColumn Property="@(emp => emp.Email)" Title="Email Address" Sortable="true" />
                <PropertyColumn Property="@(emp => emp.FullName)" Title="Full Name" Sortable="true" />
                @*@<PropertyColumn Property="@(pump => pump.Location)" Title="Location" Sortable="true" />
                <PropertyColumn Property="@(pump => pump.Tank)" Title="Tank" Sortable="true" />*@
                <TemplateColumn Title="Actions" Class="td-action-3">
                    <button @onclick="@(() => NavigateToEditEmployee(context))" class="btn btn-warning">
                        <span class="oi oi-pencil"></span>
                    </button>
                    <button @onclick="@(() => NavigateToDeleteEmployee (context))" class="btn btn-danger">
                        <span class="oi oi-trash"></span>
                    </button>
                    <button @onclick="@(() => NavigateToResetPassword(context))" class="btn btn-info">
                        <span class="oi oi-key"></span>
                    </button>
                </TemplateColumn> 
            </QuickGrid>

            <Paginator State="@Pagination" />
        }
    </div>
</div>
=======
else
{
    <p>No employees found.</p>
}
>>>>>>> parent of 5ae3a38 (Add & Employee Info)

@code {
    private List<Employee> Employees { get; set; } = new List<Employee>();

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        Employees = await DataContext.Employees.ToListAsync();
    }

    private void EmployeeInfo(Employee employee)
    {
        NavigationManager.NavigateTo($"/EmployeeInfo/{employee.UserID}");
    }

    private void AddEmployee()
    {
        NavigationManager.NavigateTo($"/NewEmployee/");
    }

    private void EditEmployee(Employee employee)
    {
        NavigationManager.NavigateTo($"/EditEmployee/{employee.UserID}");
    }


    private void SoftDeleteEmployee(Employee employee)
    {
        NavigationManager.NavigateTo($"/DeleteEmployee/{employee.UserID}");
    }
<<<<<<< HEAD

    private void NavigateToEmployeeInfo(Employee employee)
    {
        NavigationManager.NavigateTo($"/EmployeeInfo/{employee.Id}");
    }

    private void NavigateToEditEmployee(Employee employee)
    {
        NavigationManager.NavigateTo($"/EmployeeEdit/{employee.Id}");
    }

    private void NavigateToDeleteEmployee(Employee employee)
    {
        NavigationManager.NavigateTo($"/EmployeeDelete/{employee.Id}");
    }

    private void NavigateToResetPassword(Employee employee)
    {
        NavigationManager.NavigateTo($"/EmployeeResetPassword/{employee.Id}");
    }

    #endregion
}
=======
}
>>>>>>> parent of 5ae3a38 (Add & Employee Info)
