@using Microsoft.AspNetCore.Components.Authorization
@using MaintenanceWebApp.Pages
@inject NavigationManager NavigationManager

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <Router AppAssembly="@typeof(App).Assembly">
                <Found Context="routeData">
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                    <FocusOnNavigate RouteData="@routeData" Selector="h1" />
                </Found>
                <NotFound>
                    <PageTitle>Not found</PageTitle>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <p role="alert">Sorry, there's nothing at this address.</p>
                    </LayoutView>
                </NotFound>
            </Router>
        </Authorized>
        <Authorizing>
            <p>Just checking with the boss you can come in.</p>
        </Authorizing>
        <NotAuthorized>
            <LoginRedirect></LoginRedirect>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>
