@page "/ElectricPanelList"

@using MaintenanceWebApp.Data
@using MaintenanceWebApp.Services
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavigationManager
@implements IDisposable

@* Services *@
@inject CRUDService CRUDService
@inject UrlStatusService UrlStatusService
@inject TableService TableService

@* Roles Authorize *@
@attribute [Authorize(Roles = "Admin, Terminal Manager, Maintenance Supervisor, Maintenance")]

@* Status Notification *@
@if (!string.IsNullOrEmpty(statusMessage))
{
    <div class="container px-0">
        <div style="padding: 10px;" class="alert alert-success alert-dismissible fade show" role="alert">
            @statusMessage
            <button style="background-color: transparent; border: transparent; float: right; z-index: 0; padding: 1rem;" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
}

<div class="card">

    <div class="row px-3">
        <div class="col-sm-5 form-group">
            <h5 class="display-6">Panel Listrik</h5>
            @if (HasElectricPanels)
            {
                @if (ElectricPanelCount > 5)
                {
                    <div class="page-size-chooser my-2">
                        Items per page:
                        <select @bind="@Pagination.ItemsPerPage">
                            <option>5</option>
                            @if (ElectricPanelCount > 10)
                            {
                                <option>10</option>
                            }
                            @if (ElectricPanelCount > 20)
                            {
                                <option>20</option>
                            }
                        </select>
                    </div>
                }
            }
        </div>

        @if (dataPermission)
        {
            <div class="col-sm-4"></div>

            <div class="col-sm-3 d-flex align-items-center justify-content-end">
                <button class="btn btn-primary" @onclick="NavigateToAddElectricPanel">
                    Tambah
                </button>
            </div>
        }

    </div>

    <div class="px-3">
        @* Loading Data *@
        @if (_isLoading)
        {
            <div class="text-center py-3">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p>Memuat Data Panel Listrik...</p>
            </div>
        }

        else if (!HasElectricPanels)
        {
            @* No Electric Data *@
            <hr />
            <div class="text-center py-3">
                <p>Tidak ada Panel Listrik.</p>
                @if (!string.IsNullOrEmpty(NoFilter))
                {
                    <button class="btn btn-link" @onclick="ClearFilter">Clear filter</button>
                }
            </div>
        }
        else
        {
            @* Search Box *@
            <div class="search-box mb-3">
                <input class="form-control" type="search" autofocus @bind="NoFilter" @bind:event="oninput" placeholder="Search..." />
            </div>

            @* Electric Panel Data Table *@
            <QuickGrid Items="FilteredElectricPanels" Virtualize="false" Pagination="@Pagination" Class="table table-striped table-hover table-bordered">

                <TemplateColumn Title="Alat" Sortable="true">
                    <a style="cursor:pointer; color: royalblue;" @onclick="@(() => NavigateToElectricPanelInfo(context))">
                        @context.Name
                    </a>
                </TemplateColumn>

                <PropertyColumn Property="@(pump => pump.Location)" Title="Lokasi" Sortable="true" />

                @if (dataPermission)
                {
                    <TemplateColumn Title="Actions" Class="td-action">
                        <button @onclick="@(() => NavigateToEditElectricPanel(@context))" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </button>
                        <button @onclick="@(() => NavigateToDeleteElectricPanel(context))" class="btn btn-danger">
                            <span class="oi oi-trash"></span>
                        </button>
                    </TemplateColumn>
                }

            </QuickGrid>

            <Paginator State="@Pagination" />
        }
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }
    private bool dataPermission;

    private IQueryable<ElectricPanel>? _allElectricPanels;
    private bool _isLoading = true;

    private readonly int[] PageSizeOptions = new[] { 1, 5, 10, 20 };
    public PaginationState Pagination { get; } = new() { ItemsPerPage = 5 };

    public bool HasElectricPanels => !_isLoading && (_allElectricPanels?.Any() ?? false);
    public int ElectricPanelCount => _allElectricPanels?.Count() ?? 0;

    private string statusMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;

        //Authorization Admin & Maintenance Supervisor
        await Authorization();

        //Filter Applied using Table Service
        TableService.OnFilterApplied += TableService_OnFilterApplied;
        NoFilter = string.Empty;

        //Load Pump
        await LoadElectricPanels();
        _isLoading = false;

        //Get Url Status
        LoadUrlStatus();
    }

    private async Task Authorization()
    {
        if (authenticationStateTask != null)
        {
            var authenticationState = await authenticationStateTask;
            var user = authenticationState.User;
            if (user.IsInRole("Admin") || user.IsInRole("Maintenance Supervisor"))
            {
                dataPermission = true;
            }
            else
            {
                dataPermission = false;
            }
        }
    }

    private async Task LoadElectricPanels()
    {
        try
        {
            // Get All Data using CRUD Service
            var electricPanelList = await CRUDService.ReadAllAsync<ElectricPanel>(orderBy: q => q.OrderBy(p => p.PanelID));
            _allElectricPanels = electricPanelList.AsQueryable();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading Electric Panel: {ex.Message}");
        }
        finally
        {
            StateHasChanged();
        }
    }

    private async Task LoadUrlStatus()
    {
        statusMessage = UrlStatusService.GetAndClearUrlStatusMessage();

        var uri = new Uri(NavigationManager.Uri);
        var currentPath = uri.AbsolutePath;
        NavigationManager.NavigateTo(currentPath, replace: true);
    }

    //No Filter
    public string NoFilter
    {
        get => TableService.NoFilter ?? string.Empty; // Read from Table Service
        set
        {
            if (TableService.NoFilter != value)
            {
                TableService.NoFilter = value;
            }
        }
    }

    //Items per Page
    public int ItemsPerPage
    {
        get => Pagination.ItemsPerPage;
        set
        {
            if (Pagination.ItemsPerPage != value)
            {
                Pagination.ItemsPerPage = value;
            }
        }
    }

    //Filtered
    public IQueryable<ElectricPanel> FilteredElectricPanels =>
        string.IsNullOrWhiteSpace(TableService.NoFilter) // Using Table Service
            ? _allElectricPanels ?? Enumerable.Empty<ElectricPanel>().AsQueryable()
            : (_allElectricPanels?.Where(p =>
                p.Name.Contains(TableService.NoFilter!, StringComparison.OrdinalIgnoreCase) ||
                p.Location.Contains(TableService.NoFilter!, StringComparison.OrdinalIgnoreCase))
             ?? Enumerable.Empty<ElectricPanel>().AsQueryable());

    private async void TableService_OnFilterApplied(object? sender, EventArgs e)
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        TableService.OnFilterApplied -= TableService_OnFilterApplied;
        GC.SuppressFinalize(this);
    }

    private void ClearFilter()
    {
        NoFilter = string.Empty;
    }

    private void NavigateToAddElectricPanel()
    {
        NavigationManager.NavigateTo("/ElectricPanelAdd");
    }

    private void NavigateToElectricPanelInfo(ElectricPanel electricPanel)
    {
        NavigationManager.NavigateTo($"/ElectricPanelInfo/{electricPanel.PanelID}");
    }

    private void NavigateToEditElectricPanel(ElectricPanel electricPanel)
    {
        NavigationManager.NavigateTo($"/ElectricPanelEdit/{electricPanel.PanelID}");
    }

    private void NavigateToDeleteElectricPanel(ElectricPanel electricPanel)
    {
        NavigationManager.NavigateTo($"/ElectricPanelDelete/{electricPanel.PanelID}");
    }
}